.DS_Store
env
bin
build
dist
include
node_modules
.Python
*.pyc
*.swp
*.swo
*.egg-info
*.egg
.idea
.coverage
landing/static/components/
landing/static/css/**/*.css
landing/static/css/**/*.map
landing/static/data/strategy.json
landing/static/built/

.cache/v/cache/lastfailed
